# Домашнее задание 2

In [88]:
import pandas as pd

**Описание данных**

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

**Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.**

In [89]:
NUM_OF_GROUPS = 10

In [90]:
df = pd.DataFrame()

for i in range(NUM_OF_GROUPS):
    students_info_filepath = f'data/Students_info_{i}.csv'
    students_marks_filepath = f'data/Students_marks_{i}.csv'
    
    info_df = pd.read_csv(students_info_filepath)
    marks_df = pd.read_csv(students_marks_filepath)
    
    df = pd.concat([df, pd.merge(info_df, marks_df, on='index')])

In [91]:
df.head()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75

**Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.**

In [92]:
df.drop(columns=['index'], inplace=True)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

**Задание 3. Выведите на экран размеры полученной таблицы**

In [93]:
df.shape

(1000, 9)

**Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)**

In [94]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

**Задание 5. Проверьте, есть ли в таблице пропущенные значения**

In [95]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

**Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)**

In [96]:
df[['math score', 'reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [97]:
df.groupby(['test preparation course']).mean(numeric_only=True)

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [98]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation"**

In [99]:
df.rename(columns={'parental level of education':'education', 
                   'test preparation course':'test preparation'}, inplace=True)
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [100]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

Доля студентов, сдавших экзамен по математике:

In [101]:
df_all = df['math score']
df_passed = df_all.loc[df_all >= passmark]
df_passed.shape[0] / df_all.shape[0]

0.865

Доля студентов, которые проходили курс подготовки и сдали экзамен по математике:

In [102]:
df_all = df.loc[df['test preparation'] == 'completed']
df_passed = df_all.loc[df_all['math score'] >= passmark]
df_passed.shape[0] / df_all.shape[0]

0.9217877094972067

Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [103]:
df_all = df.loc[(df['gender'] == 'female') & (df['test preparation'] == 'none')]
df_failed = df_all.loc[df_all['math score'] < passmark]
df_failed.shape[0] / df_all.shape[0]

0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

Для каждой этнической группы выведите средний балл за экзамен по чтению

In [104]:
df.groupby(['race/ethnicity'])['reading score'].mean()

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [105]:
df.groupby(['education'])['writing score'].min()

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

In [106]:
pd.pivot_table(data=df, index=['gender', 'education'], values=['math score', 'reading score', 'writing score'])

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

**Задание 13. Сколько студентов успешно сдали экзамен по математике?**

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [107]:
def exam_res(score, passmark):
    if score >= passmark:
        return 'P'
    return 'F'

df['Math_PassStatus'] = df['math score'].map(lambda x: exam_res(x, passmark))
df['Reading_PassStatus'] = df['reading score'].map(lambda x: exam_res(x, passmark))
df['Writing_PassStatus'] = df['writing score'].map(lambda x: exam_res(x, passmark))

In [108]:
df.head(5)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P

**Задание 14. Сколько студентов успешно сдали все экзамены?**

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [109]:
df['OverAll_PassStatus'] = df.apply(lambda x: 'F' if 'F' in [x['Math_PassStatus'],
                                                             x['Reading_PassStatus'],
                                                             x['Writing_PassStatus']] else 'P', axis=1)

In [110]:
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P

**Задание 15. Переведем баллы в оценки**

Система перевода баллов в оценки:

больше 90 = A

80-90 = B

70-80 = C

60-70 = D

50-60 = E

меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [111]:
def get_grade(average_mark):
    if average_mark > 90:
        return 'A'
    if 80 < average_mark <= 90:
        return 'B'
    if 70 < average_mark <= 80:
        return 'C'
    if 60 < average_mark <= 70:
        return 'D'
    if 50 <= average_mark <= 60:
        return 'E'
    return 'F'

In [112]:
df['Grade'] = df.apply(lambda x: get_grade(np.mean([x['math score'], x['reading score'], x['writing score']])), axis=1)

In [113]:
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C

In [116]:
df['Grade'].value_counts()

D    260
C    253
E    190
B    144
F    103
A     50
Name: Grade, dtype: int64